<!DOCTYPE html>
<html>
  <head>
    
  </head>
  <body>
    <h1>Reset Password for <%= email %></h1><br>
   <form action="" method="post">
       <label for="password">Password</label>
       <input type="password" name="password" id="password">
       <br>
       <label for="password2">Confirm Password</label>
       <input type="password" name="password2" id="password2">
       <br>
        <input type="submit" value="reset password">
   </form>
    

  </body>
</html>